
@{
    ViewData["Title"] = "Document";
}


<div class="row">
   
        
    <div class="form-group">
        <label class="control-label"><strong>Giriş bilgileriniz başarılıdır. Masaüstünde Txt ve Csv Dosyalarınız oluşturulmuştur</strong></label>
        <br />
        <label class="control-label"><strong>Tekrar Denemek İçin yukarıda bulanan <mark>BelgeOlusturucu</mark>'ya tıklayın</strong></label>



    </div>
</div>
